#backgroundLayer {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#characterLayer {
  position: absolute;
  inset: 0;
  pointer-events: none;
}

.zara-sprite {
  position: absolute;
  left: 6%;
  bottom: 6%;

  /* display size (tweak later if you want) */
  width: min(38vw, 520px);

  aspect-ratio: 384 / 1024;
  height: auto;
  background-repeat: no-repeat;

  background-size: 1536px 1024px;

  animation: zaraIdle 1.1s linear infinite;
}

@keyframes zaraIdle {
  0%,
  24.999% {
    background-position-x: 0px;
  }
  25%,
  49.999% {
    background-position-x: -384px;
  }
  50%,
  74.999% {
    background-position-x: -768px;
  }
  75%,
  100% {
    background-position-x: -1152px;
  }
}

.teddy-decor {
  position: absolute;
  right: 4%;
  bottom: 3%;
  width: min(14vw, 180px);
  height: auto;
  pointer-events: none;
}

.teddy-decor-sprite {
  width: 100%;
  height: auto;
  display: block;
}
